{
    "plugins": ["transform-decorators-legacy","babel-plugin-transform-runtime"],
    "presets": [
        ["env", {
            "target":{
                "node": "current"
            }
        }],
        "stage-0"
    ]
}